<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javagpt.back.mapper.VideoMapper">

    <resultMap id="BaseResultMap" type="com.javagpt.back.entity.CoursePO">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="image" column="image" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="sourceUrl" column="source_url" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        name,
        image,
        description,
        create_time,
        remark,
        source_url
    </sql>


    <resultMap id="CourseVOMap" type="com.javagpt.back.vo.course.CourseVO">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="image" column="image" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="sourceUrl" column="source_url" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="pageView" column="page_view" jdbcType="INTEGER"/>
        <result property="creator" column="creator" jdbcType="VARCHAR"/>
        <result property="updater" column="updater" jdbcType="VARCHAR"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByPage" resultType="com.javagpt.back.vo.course.CourseVO" parameterType="com.javagpt.back.dto.CourseDTO">
        select
            sc.id as id,
            sc.name as name,
            sc.image as image,
            sc.description as description,
            sc.source_url as source_url,
            sc.parent_id as parent_id,
            sc.page_view as page_view,
            sc.remark as remark
        from source_course sc
        <where>
            <if test="dto.type != null">
                and sc.type = #{dto.type,jdbcType=INTEGER}
            </if>
            <if test="dto.name != null and dto.name !=''">
                and sc.name like concat('%',#{dto.name,jdbcType=VARCHAR},'%')
            </if>
        </where>
        order by sc.create_time desc
    </select>

    <select id="queryPage" resultMap="CourseVOMap">
        select
        sc.id as id,
        sc.name as name,
        sc.image as image,
        sc.description as description,
        sc.source_url as source_url,
        sc.parent_id as parent_id,
        sc.page_view as page_view,
        sc.remark as remark
        from source_course sc
        <where>
            <if test="params.type != null">
                and sc.type = #{params.type,jdbcType=INTEGER}
            </if>
            <if test="params.name != null and params.name !=''">
                and sc.name like concat('%',#{params.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="params.categories != null and params.categories.size > 0">
                and sc.category in
                <foreach collection="params.categories" separator="," open="(" close=")" item="item">
                    #{item,jdbcType=INTEGER}
                </foreach>
            </if>
        </where>
        order by sc.create_time desc
    </select>
</mapper>
